server {
    server_tokens  off;
    listen 80;

    location /health {
        access_log off;
        default_type text/plain;
        return 200 'OK';
    }

    location / {
      rewrite (.*) {{ .Env.REDIRECT }}{{ default .Env.REDIRECT_PATH "$1" }} permanent;
    }
}
